.followingContainer {
  padding: 24px;
}

.followingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  padding: 1rem 1.25rem;
}

.followingName {
  text-transform: uppercase;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.followingRemove button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.125rem;
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
}
