.main {
  margin-top: 50px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8rem;
  gap: 4rem;
}

@media (max-width: 640px) {
  .infoContainer {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    padding-bottom: 3rem;
  }
}
