.container {
  position: relative;
  width: 100%;
  height: calc(100svh - 50px - 120px);
  min-height: 40rem;
  margin-top: 49px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.innerContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.loadingImg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingDetails {
  width: 380px;
  height: 100%;
  border-left: 1px solid #fff;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  object-fit: cover;
  /* object-position: center calc(0% - 300px); */
}

.shadeGradient {
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    360deg,
    #040404,
    rgba(40, 40, 40, 0.2),
    rgba(40, 40, 40, 0)
  );
  bottom: 0;
  z-index: 1;
}
