.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.inputContainer {
  position: relative;
  width: 100%;
  border-bottom: solid 1px #4c4c4c;
  border-bottom-color: #ccc;
  margin-bottom: 16px;
}

.formInput {
  width: 100%;
  background: white;
  border: none;
  color: black;
  font-size: 16px;
  line-height: 21px;
  padding: 0 0 6px;
  resize: none;
  outline: none;
  margin-bottom: 0;
}

.formInput:-webkit-autofill {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

.inputContainer:has(.formInput:focus),
.inputContainer:has(.formInput:active),
.inputContainer:has(.formInput:hover),
.inputContainer:has(.formInput:not(:placeholder-shown)) {
  border-bottom-color: black;
}

.formInput::placeholder {
  text-transform: uppercase;
}

.submitButton {
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 700;
  padding: 13px 24px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 0.125rem;
}

.submitButton:disabled {
  background: #ccc;
  color: #999;
  cursor: auto;
}

.passwordButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 44px;
  background: none;
  border: none;
  cursor: pointer;
}

.inputContainer:has(.passwordInput:placeholder-shown) .passwordButton {
  display: none;
}
