.container {
  width: 380px;
  height: 100%;
  border-left: 1px solid #fff;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 0.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.box {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 0.125rem;
}

.title {
  font-size: 1.325rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.tags span {
  border: 1.5px solid #000;
  padding: 0.125rem 0.25rem;
  border-radius: 0.125rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.6;
}

.description {
  --clamp-lines: 6;
  --font-size: 0.9rem;
  --line-height: 1.2;
  margin-top: 0.7rem;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(var(--font-size) * var(--line-height) * var(--clamp-lines));
  display: -webkit-box;
  line-clamp: var(--clamp-lines);
  -webkit-line-clamp: var(--clamp-lines);
  -webkit-box-orient: vertical;
}

.viewBtn {
  border: 2px solid #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.125rem;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
}
