.bookmarksContainer {
  padding: 24px;
}

.bookmarkContainer {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 12px 8px;
  border-bottom: 1px solid #666;
}

.bookmarkImageContainer {
  width: 166px;
  min-width: 166px;
  position: relative;
}

.bookmarkImageContainer img {
  object-fit: cover;
  height: 100%;
}

.bookmarkDetailsContainer {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  width: 100%;
  padding-left: 1rem;
}

.bookmarkDetailsContainer h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  height: 100%;
}

.bookmarkDetailsContainer h2 span {
  margin-left: 0.375rem;
}

.bookmarkDetailsContainer button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 0.125rem;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmarkDetailsContainer button:hover {
  opacity: 1;
}
