.brandList {
  padding: 0 2rem;
  margin-bottom: 2.5rem;
}

.brandRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  padding: 1rem 1.25rem;
  cursor: pointer;
}

.brandList > a:last-child .brandRow {
  border-bottom: 1px solid #fff;
}

.brandRow:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}

.brandRow:hover .brandRowInfo > div {
  color: rgba(0, 0, 0, 0.75);
}

.brandRow:hover .brandRowInfoNumber {
  color: #000;
}

.brandRow:hover .brandRowInfo > div:last-child {
  border-left: 1px solid #000;
}

.brandRowName {
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.brandRowInfo {
  display: flex;
  text-align: right;
}

.brandRowInfo > div {
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}

.brandRowInfo > div:last-child {
  border-left: 1px solid #fff;
  padding-right: 0;
}

.brandRowInfoNumber {
  color: #fff;
  margin-right: 0.5rem;
}

.brandListHeader {
  display: flex;
  padding: 2rem;
  margin-top: 1.5rem;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 12px 0 4px;
  margin-left: 3rem;
  border-bottom: solid 1px #4c4c4c;
  border-bottom-color: #ccc;
}

.searchInput {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 21px;
  padding: 0 0 6px;
  resize: none;
  outline: none;
  margin-bottom: 0;
}

.searchInput:-webkit-autofill {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

.searchContainer:has(.searchInput:focus),
.searchContainer:has(.searchInput:active),
.searchContainer:has(.searchInput:hover),
.searchContainer:has(.searchInput:not(:placeholder-shown)) {
  border-bottom-color: white;
}

.searchInput::placeholder {
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .brandList {
    padding: 0 1.5rem;
  }
  .brandRow {
    padding: 0.75rem 0.5rem;
  }
  .brandRowName {
    font-size: 1rem;
    line-height: 1.2;
  }
  .brandRowInfo > div {
    font-size: 0.625rem;
    padding: 0 0.5rem;
  }
  .brandRowInfoNumber {
    margin-right: 0.25rem;
  }
  .brandRow:hover {
    background: transparent;
    color: #fff;
  }
  .brandRow:hover .brandRowInfo > div {
    color: rgba(255, 255, 255, 0.75);
  }

  .brandRow:hover .brandRowInfoNumber {
    color: #fff;
  }
  .brandRow:hover .brandRowInfo > div:last-child {
    border-left: 1px solid #fff;
  }
  .brandListHeader {
    padding: 1.5rem;
  }
  .searchContainer {
    margin-left: 1.75rem;
  }
}
