.main {
  margin-top: 50px;
  padding: 0 1.5rem 1.375rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.brandHeaderRight,
.brandHeaderLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandHeaderLeft {
  gap: 1.5rem;
}

.brandHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 1.25rem;
  border-bottom: 1px solid #fff;
  margin-bottom: calc(2rem - 0.75rem);
  text-transform: uppercase;
}

.cardsContainer {
  --margin: -0.75rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--margin));
  margin-right: calc(var(--margin));
}
