.container {
  width: 66%;
  border: 1px solid #fff;
  border-radius: 0.125rem;
  padding: 1rem;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.headerInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.375rem 0.5rem;
}

.headerInfo span {
  font-size: 1rem;
  text-transform: uppercase;
}

.bookmarkBtn {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  margin-left: 0.75rem;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmarkBtn svg {
  --icon-size: 1.5rem;
  height: var(--icon-size);
  width: var(--icon-size);
}

.stylistHeader {
  margin: 1.25rem 0 0.75rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.stylistDescriptionContainer {
  margin-bottom: 1.5rem;
}

.instaLink {
  margin-left: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  transform: translateY(1px);
  opacity: 0.5;
}
.instaLink:hover {
  opacity: 1;
}

.followBtn,
.followBtn_active {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
  border: 1px solid #fff;
  border-radius: 0.125rem;
  margin-left: 1rem;
  min-width: 87px;
  font-weight: 600;
}

.followBtn {
  background: transparent;
  color: #fff;
}

.followBtn_active {
  background: #fff;
  color: #000;
}

.shootContainer {
  margin-bottom: 1rem;
}

.shootContainer h2 {
  margin: 0.75rem 0;
  text-transform: uppercase;
}

.shootContainer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.teamContainer {
  border: 1px solid #fff;
  border-radius: 0.125rem;
  margin-top: 1rem;
  padding: 1rem;
}

.teamContainer li {
  border-bottom: 1px solid #fff;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.teamContainer li:first-child {
  padding-top: 0;
}

.teamContainer li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.teamMemberRole {
  font-weight: 600;
}

.teamMemberName {
  padding-left: 0.25rem;
}
